*{
    margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gowun+Batang:wght@400;700&display=swap');

body{
 
     background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/1441122/pexels-photo-1441122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")center center/cover;
    height: 100vh;
    width: 100%;
   background-repeat:repeat; 

}

.heading{ 
   background-color: rgb(222, 172, 122);
  border: 2px solid white;
  opacity: 0.8;
} 

.lists{
   background-color: rgb(215, 176, 127);
  border: 2px ridge white;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 500px;
  font-size: 30px;
  align-items: center; 
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;

}
